* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.page-container {
	width: 100%;
	height: 100vh;
	font-size: 0;
}

.header {
	width: 100%;
	height: 15vh;
	box-shadow: 3px 3px 3px black;
	position: relative;
}

.map-container {
	display: inline-block;
	width: 67%;
	height: 85vh;
}

.right-sidebar {
	display: inline-block;
	width: 33%;
	background: RGB(24, 138, 138);
	color: white;
	height: 85vh;
	font-size: 1rem;
	font-family: Tahoma; 
	vertical-align: top;
}

.logo-box {
	color: RGB(24, 138, 138);
	font-size: 48px;
	font-family: Trajan, monospace;
	display: inline-block;
	width: 33%;
}

#logo-img {
	display: inline-block;
	background-image: url("assets/nonbrandedlogo.png");
	background-size: contain;
	height: 12vh;
	width: 36%;
	background-repeat: no-repeat;
}

.menu-links {
	display: inline-block;
	font-size: 1rem;
	font-family: monospace;
}

.input-box {
	height: 35vh;
}

.sidebar-title {
	text-align: center;
	font-size: 28	px;
}

.user-list {
	border-radius: 15px 15px 0 0 ;
	background-color: white;
	padding: 5px;
	overflow: scroll;
	height: 50vh;
}

.user {
	cursor: pointer;
}

.usr-detail {
	display: inline-block;
	color: black;
}

.view-container {
	width: 100%;
	height: 85vh;
	position: absolute;
	background-color: RGBA(0,0,0,.7);
	display: none;
}

#prof, #signin {
	display: none;
	position: absolute;
	margin: 0 auto;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	background-color: white;
	border-radius: 15px;
	padding: 3%;
	width: 40%;
	font-family: Tahoma;
}

#signin {}

.prof__name {
	font-size: 20px;
	color: navy;
}

.prof__username{
	color: gray;
	font-style: italic;
}




