* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: cornflowerblue;
	text-shadow: .04em .04em  darkslategray;
}

textarea {
	width: 95%;
}

.col {
	display: inline-block;
}

.page-container {
	width: 100%;
	height: 100vh;
	font-size: 0;
}

#error-view {
	display: none;
}

.header {
	width: 100%;
	height: 15vh;
	box-shadow: 3px 3px 3px black;
	position: relative;
	z-index: 99;
}

#map-container {
	display: inline-block;
	width: 67%;
	height: 85vh;
}

#map-canvas {
	width: 100%;
	height: 100%;
	z-index: 0;
}

#right-sidebar {
	display: inline-block;
	width: 33%;
	/*background: RGB(24, 138, 138);*/
	background: rgb(32, 97, 200);
	color: white;
	height: 85vh;
	font-size: 1rem;
	font-family: "Open Sans Condensed"; 
	vertical-align: top;
}

#footer-bar {
	height: 3.5vh;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	color: white;
	text-align: center;
	position: absolute;
	bottom: 0;
	font-size: 15px;
}

.logo-box {
	color: RGB(24, 138, 138);
	font-size: 48px;
	font-family: Trajan, monospace;
	display: inline-block;
	position: absolute;
	line-height: 12vh;
	margin-top: 1vh;
	margin-left: 2%;
	white-space: nowrap;
}

#logo {
	vertical-align: top;
}

#logo-img {
	display: inline-block;
	background-image: url("assets/nonbrandedlogo.png");
	background-size: contain;
	height: 12vh;
	width: 36%;
	background-repeat: no-repeat;
}

.menu-links {
	display: inline-block;
	font-size: 1.15rem;
	font-family: monospace;
	float: right;
	margin-top: 5vh;
    margin-right: 6.5%;
}

.anon{

}

.lgd {
	display: none;
}

#sidebar-top {
	height: 35vh;
	position: relative;
}

.input-box, .group-box {
	padding: 10px;
	overflow: scroll;
	height: 100%;
}

.group-box {
	/*background: rgb(59, 169, 169);*/
	margin: 0 20px;
}

.drvr, .rdr {
	display: none;
}

.button-container {
	position: absolute;
    bottom: 3%;
    left: 50%;
    transform: TranslateX(-50%);
}

.sidebar-title {
	text-align: center;
	font-size: 28px;
	font-family: monospace;
}

.user-list {
	border: lightgray ridge;
	border-top: darkslategray;
	border-bottom: none;
	background-color: rgba(255,255,255,.8);
	padding: 5px 4%;
	overflow: scroll;
	height: 50vh;
	color: black;
}

#user-location{
	padding-bottom: 3vh;
}

.user {
    cursor: pointer;
    font-family: "Open Sans Condensed";
    border-bottom: solid 1px RGB(24, 138, 138);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.usr__info {
	display: inline-block;
	width: 29%;
	white-space: nowrap;
}

.usr__locs {
	display: inline-block;
	width: 69%;
	text-align: right;
	white-space: nowrap;
}

.usr-detail {
	display: inline-block;
}

.time {
	white-space: nowrap;
}

.pin-color {
	display: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.view-container {
	width: 100%;
	height: 85vh;
	position: absolute;
	z-index: 99;
	display: none;
}

.view-backdrop {
	width: 100%;
	height: 85vh;
	position: absolute;
	background-color: RGBA(0,0,0,.7);
	z-index: 100;
}

.focus-views {
	background-color: white;
}

.editing {
	background-color: rgb(233, 242, 242);
}

#user-focus, #signin {
	z-index: 101;
	display: none;
	position: relative;
	margin: 0 auto;
	top: 40%;
	transform: translateY(-50%);
	font-size: .85rem;
    border-left: rgb(35, 35, 35) solid 30px;
	padding: 3%;
	width: 50%;
	font-family: Tahoma;
	background-color: white;
}

#signin {
	/*background-color: rgb(27, 153, 153);*/
	background: rgb(32, 97, 200);
	color: white;
}

#edit-user {
	background-color: lightblue;
}

#register-box{
	display: none;
}

.visiting {
    background-color: white;
    padding: 5px;
    color: rgb(195, 106, 0);
    margin: 0 12%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1rem;
	cursor: pointer;
}

.edt {
	display: none;
}

.edt--input {
	color: rgb(95, 95,95);
	font-size: .85rem;
	border-radius: 5px;
	border: lightblue solid 1px;
	padding: 1%;
    padding-left: 2%;

}

.close {
	position: absolute;
	top: 5%;
	right: 5%;
}

.prof__name, .edt__name {
	font-size: 20px;
	color: navy;
}

.sun-emoji {
	color: yellow;
    text-shadow: 1px 1px 1px orange;
}

.prof__username, .edt__username {
	color: gray;
	font-style: italic;
}

/*.name-box {
	display: inline-block;
	width: 40%;
	vertical-align: top;
}

.addr-box {
	display: inline-block;
	width: 58%;
}

.time-box {
	text-align: center;
}*/

.row {
	margin: 2% 0;
}

.edt__am, .edt__pm {
	width: 30%;
}


.btn {
	/*background-color: rgb(59, 169, 169);*/
	background-color: cornflowerblue;
    font-size: 14px;
    vertical-align: middle;
    font-family: Tahoma;
    color: white;
    padding: 3px 5px;
    margin-top: 1.5%;
    border-style: groove;
}

.grp__item {
	margin-right: 3px;
	padding-right: 5px;
	border-right: solid 1px white;
}

.grp__info {
	margin-bottom: 3px;
}

